@import './style.css';
@import './reset.css';

* {
    margin: 0;
    padding: 0;
}

/*滚动条样式修改*/
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #dedee0;
    border-radius: 6px;
}